<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styleFiles/manager.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>
        <%= managerTitleName %>
    </title>
</head>

<body>
    <img id="wallpaper" src="<%= taylorPicSrc %>" alt="taylorPic" />
    <h1 class="titleName">
        <%= mangamentTitle %>
    </h1>




    <ul style="float: left">

        <li style="list-style: none">
            <a href="#"><button onclick=location.reload() 
              style="width: 200px; height: 50px; margin-top: 20px">
              Refresh Manager
            </button></a>
        </li>
        <li style="list-style: none">
            <a href="#"><button
               style="width: 200px; height: 50px; margin-top: 20px">
              Go to DJ page
            </button></a>
        </li>
        <li style="list-style: none">
            <a href="#"><button 
              style="width: 200px; height: 50px; margin-top: 20px">
              Go to Producer Page
            </button></a>
        </li>


        <li style="list-style: none; position: absolute; bottom: 20px; width: 100%;">
            <button id="questionKey" style="
                    width: 200px;
                    height: 50px;
                    border: 2px dashed rgb(131, 112, 112);
                    font-size: 30px;
                    display: center;
                    margin: auto;
                    display: block;
                    float: left;
                ">
            Questions?
          </button>
            <div id="QuestionList" style="display: inline; float: left;padding-left: 20px;display: none;">

            </div>

        </li>

    </ul>
    <table id="reportTable" class="tableStyle" style="float: left; margin-left: 200px">
        <tr>
            <th id="reportTitleID" colspan="2">Reports</th>
        </tr>
        <tr>
            <td style="text-align: center">Producer Assigned</td>
            <td style="text-align: center">DJ Played</td>
        </tr>
        <% reports.forEach(report => { %>
            <tr>

                <td style="text-align: center">
                    <%= report.songName %> was assigned by
                        <%= report.producerName %> on
                            <%= report.dateOfAssign %>
                </td>
                <td style="text-align: center">
                    <%= report.djName %>
                        <% if (report.playedOrNot) { %>
                            played
                            <% } else { %>
                                did not play
                                <% } %>
                                    <%= report.songName %>
                </td>
            </tr>
            <% }) %>
    </table>

    <div id="assignDJ">
        <h1 style="
            text-align: center;
            color: rgb(221, 84, 221);
            border: 1px solid rgb(184, 55, 189);
            background-color: aliceblue;
          ">
            Assign DJ
        </h1>

        <input type="date" id="calendar" name="date" />

        <br />

        <div style="height: 300px; overflow-y: auto;">
            <table id="assignTable" class="tableStyle">
            </table>
        </div>


        <div id="editBox">
            <div id="addDiv">
                <p>Added! Do you want another?</p>
                <button id="noBtnId">NO</button>
                <button id="yesBtnId">YES</button>
            </div>


            <fieldset id="radio-group">
                <legend>Available DJs to assign:</legend>
                <% availableDjs.forEach((dj, index) => { %>
                    <input type="radio" name="radio-group" id="radio-<%= index + 1 %>" value="<%= dj.djName %>" />
                    <label for="radio-<%= index + 1 %>"><%= dj.djName %></label>
                    <% }) %>
            </fieldset>


            </fieldset>
            <br>

            <input type="date" id="editCalander" name="date" />



            </form>
        </div>
        <button id="applyKey" style="width: 200px; height: 50px; margin-top: 10px; font-size: 30px">
            Apply
        </button>
        <button id="editBtnKey" style="width: 200px; height: 50px; margin-top: 10px; font-size: 30px">
            Edit
        </button>

        <form>
            <input id="searchBox" type="search" name="query" placeholder="search here for DJ :)" />
            <button id="reportViewDetialsButton" style="float: inherit; width: 100px; height: 30px" type="submit">
              Search
            </button>
            <button id="reportViewDetialsButtonBack" style="float: inherit; width: 100px; height: 30px" type="submit">
                back
              </button>
        </form>


        <div id="djWithDate">
            <table id="djTable">

            </table>
        </div>


        <button onclick=location.reload() id="reportViewDetialsButton" style="width: 400px; height: 50px; margin-top: 100px; font-size: 30px">
        Clear any change
      </button>




        <script type="module" src="/scriptFiles/script.js"></script>
        <script type="module" src="/scriptFiles/questions.js"></script>
</body>

</html>