<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styleFiles/manager.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>
        <%= managerTitleName %>
    </title>
</head>

<body>
    <img id="wallpaper" src="<%= taylorPicSrc %>" alt="taylorPic" />
    <h1 class="titleName">
        <%= mangamentTitle %>
    </h1>

    <table id="reportTable" class="tableStyle" style="float: left; margin-left: 200px">
        <tr>
            <th id="reportTitleID" colspan="2">Reports</th>
        </tr>
        <tr>
            <td style="text-align: center">Producer Assigned</td>
            <td style="text-align: center">DJ Played</td>
        </tr>
        <% reports.forEach(report => { %>
            <tr>

                <td style="text-align: center">
                    <%= report.songName %> was assigned by
                        <%= report.producerName %> on
                            <%= report.dateOfAssign %>
                </td>
                <td style="text-align: center">
                    <%= report.djName %>
                        <% if (report.playedOrNot) { %>
                            played
                            <% } else { %>
                                did not play
                                <% } %>
                                    <%= report.songName %>
                </td>
            </tr>
            <% }) %>
    </table>

    <div id="assignDJ">
        <h1 style="
            text-align: center;
            color: rgb(221, 84, 221);
            border: 1px solid rgb(184, 55, 189);
            background-color: aliceblue;
          ">
            Assign DJ
        </h1>

        <input type="date" id="calendar" name="date" />

        <br />

        <table id="assignTable" class="tableStyle">
        </table>
        <div id="editBox">
            <div id="addDiv">
                <p>Added! Do you want another?</p>
                <button id="noBtnId">NO</button>
                <button id="yesBtnId">YES</button>
            </div>


            <fieldset id="radio-group">
                <legend>Available DJs to assign:</legend>
                <% availableDjs.forEach((dj, index) => { %>
                    <input type="radio" name="radio-group" id="radio-<%= index + 1 %>" value="<%= dj.djName %>" />
                    <label for="radio-<%= index + 1 %>"><%= dj.djName %></label>
                    <% }) %>
            </fieldset>


            </fieldset>
            <br>

            <input type="date" id="editCalander" name="date" />



            </form>
        </div>
        <button id="applyKey" style="width: 200px; height: 50px; margin-top: 10px; font-size: 30px">
            Apply
        </button>
        <button id="editBtnKey" style="width: 200px; height: 50px; margin-top: 10px; font-size: 30px">
            Edit
        </button>




        <script type="module" src="/scriptFiles/script.js"></script>
        <script type="module" src="/scriptFiles/questions.js"></script>
</body>

</html>